/*
* Import's
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --nav-height: 70px;
}
/**/
*{
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
}
img{
    border: 1px solid black;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]{
    -moz-appearance: textfield;
}
header{
    width:100%;
    height: var(--nav-height);
    max-height: var(--nav-height);
    overflow: auto;
    position: fixed;
    background-color: white;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
header nav ul{
    list-style-type: none;
    display: flex;
    float: right;
    justify-content: space-evenly;
    padding-right: 10px;
    position: relative;
    top: calc((var(--nav-height)/2) - 1em/2);
}
header nav ul li{
    padding: 0px 25px 0px 10px;
}
header nav ul li a, header nav a{
    text-decoration: none;
    color: black;
}
header nav ul li a:hover, header nav a:hover{
    color: #6e6c6c;
}
.neei_logo{
    padding: 5px 20px 0px 20px;
    height: calc( var(--nav-height)*0.8);
    float: left;
}


#name{
    position: relative;
    top: calc(var(--nav-height)/2 - 1.5em/2);
    float: left;
    color: black;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
#main{
    padding-top: calc( var(--nav-height) + 5vh);
    margin: 0 10vw;
    margin-bottom: 10vh;
    padding-bottom: 1.5em;
}

/*
* Anuncios
*/
.anuncio{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
    overflow: hidden;
}
.anuncio:hover{
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.25);
}
.anuncio img{
    height: auto;
    max-height: 100%;
    width: 100%;
    margin-right:15px;
}
.anuncio .ainfos{
    clear: both;
    padding: 10px;
    float: left;

}
.ainfos div{
    margin-left: 15px;
    padding: 0.35em 0;

}
.ainfos div .descricao{
    font-weight: bold;
    color: #312e2e;
}
.grid3{
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}
.grid4{
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}
/*
* Rodape
*/

footer{
    width: 97%;
    margin-top: auto;
    /*float: bottom;*/
    bottom: 0;
    color: white;
    background-color: #3b3838;
    padding: 1.5vw;
    clear: both;
}

#patrocinios img{
    height: 50px;
    overflow: auto;
    padding: 5px 5px;
}
#ppatrocinios{
    margin-bottom: 10px;
}
/*footer hr{
    margin-left: 5%;
    width: 90%;
}*/
#copyright{
    text-align: center;
    font-size: smaller;
    padding: 10px 0;
}
/*
* Abas
*/
.container{
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);

    clear: both;
}
.select-wraper .aba-option{
    background-color: rgba(0,0,0,1);
    color: white;
    border-bottom: 3px solid rgba(0,0,0,0.25);
    width: 50%;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}
.select-wraper .aba-option *{
    padding: 1% 10%;
}
.select-wraper .aba-option.active{
    background-color: white;
    color:black;
    border-bottom: 3px solid white

}
.content-wraper{
    padding: 2% 5%;
    margin-top: 20px;
}
.content-wraper > div{
    display: none;
    color: #808184;
}
.content-wraper > div.active{
    padding-top: 5%;
    display: block;
}
/*
* Forms
*/
.grid2{
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}
.grid2a{
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}
#filtro{
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
    padding: 2% 5%;
    margin-bottom: 20px;
}
#filtro h1{
    margin-bottom: 3%;
}
#filtro hr{
    margin: 10px 0px;
    border: 1px solid black;
}

#search-form label{
    width: 100%;
    margin-left: 10px;
    font-weight: bold;
    color: #808184;
}
#search-form{
    padding: 1vh 2vw;
}
#search-form select{
    width: 100%;
    height: 4vh;
    padding-left: 2%;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}
.textinp{
    width: 98%;
    height: 3.8vh;
    padding-left: 2%;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}
#search-form-options input,
.aba-content form input[type=submit],
aba-content form input[type=reset]{
    margin-top: 1.8em;
    width: 47.5%;
    height: 4vh;
    float: left;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    font-weight: bold;
    transition: 1s;
}
#search-form-options input:hover{
    color: white;
    background: black;
}
#search-form-options input[type='submit']{
    margin-right:5%;
}
#paginacao{
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
    width: 100%;
    display: inline-block;
    text-align: center;
}
#paginacao .pagOpt{
    width: 15%;
    float: left;
    padding: 2% 0%;
}
#paginacao .pagOpt:hover{
    background: #c9cdd3;
}
#paginacao .pagInfo{
    width: 40%;
    float: left;
    padding: 2% 0%;
}
/*-------------------------------
        Anuncio_unico
 */
.anuncio_unico{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
    padding: 2% 5%;
}
.anuncio_unico h1{
    font-size: 3em;
}
.anuncio_unico img{
    float: left;
    margin-right: 2%;
    max-width: 50%;
}
.ainfos_unico{
    font-size: 1.1em;
    float: left;
}
.ainfos_unico .descricao{
    font-weight: bold;
    font-size: 1.3em;
}
.anuncio_unico form{
    clear: both;
}
.anuncio_unico form hr{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #3b3838;
    clear: both;
}
.anuncio_unico form label{
    float: left;
}
.anuncio_unico form textarea{
    clear: both;
    resize: none;
    padding-left: 1%;
}
.aba-content form label{
    font-size: 1.5em;
    color: #312e2e;
}
.aba-content form{
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    padding: 1vh 2vw;
}
.aba-content form input:not(input[type=file],input[type=submit],input[type=reset]),
.aba-content form select{
    width: calc(100% - 2%);
    padding-left: 2% ;
    height: 4vh;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}
.aba-content textarea{
    width:96%;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}
.aba-content form textarea{
    clear: both;
    resize: none;
    padding: 2%;
}
.aba-content form input[type=submit],
.aba-content form input[type=reset]{
    margin-top: 0;
    width: 97.5%;
    height: 4vh;
    float: left;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    font-weight: bold;
    transition: 1s;
}
.aba-content form input[type=submit]:hover,
.aba-content form input[type=reset]:hover{
    color: white;
    background: black;
}

/*Paginação*/
.page{
    display: none;
}
.page.active{
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

/*----------Admin-----------------------------------*/
.anuncioAdmin{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
    margin-bottom: 30px;
}
.anuncioAdmin img{
    width: 50%;
    margin-right: 2%;
    float: left;
}
.anuncioAdmin .ainfosAdmin{
    width: auto;
    margin-top: 2%;
    float: left;
}
.ainfosAdmin .descricao{
    font-weight: bold;
    font-size: 1.1em;
}
.anuncioAdmin .aform{
    clear: both;
    padding: 10px 30px;
    color: #312e2e;
}
.id-admin-form input , .estado-admin-form select,
.form-cont input , .form-cont select{
    padding: 0 2%;
    width: 100%;
    height: 4vh;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}
.id-admin-form input,.form-cont input {
    width: 96%;
}
.anuncioAdmin textarea,
.form-cont textarea{
    width: calc(100% - 20px);
    height: 8vh;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    resize: none;
}
.anuncioAdmin .optForms input,
.form-cont .optForms input{
    width: 60%;
    margin-left: 20%;
    height: 4vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    font-weight: bold;
    transition: 1s;
}
.anuncioAdmin .optForms input:hover,
.form-cont .optForms input:hover{
    color: white;
    background-color: black;
}
.form-cont {
    padding-top: 1%;
}
.pageAdmin{
    display: none;
}
.pageAdmin.active{
    display: block;

}
#msg{
    clear:both;
    padding-top: 1%;
}
.remetente{
    font-weight: bold;
    font-size: 1.1em;
}
